
<div class="row">

    <div class="col-md-6 login-container">
      <h2 style="margin: auto">Admin Login Panel</h2>
      <form [formGroup]="adminloginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Admin Email </label>
          <input type="email" class="form-control" formControlName="admin_email" id="admin_email" autocomplete="off">
          <div class="error" *ngIf="adminloginForm.controls['admin_email'].hasError('required') && adminloginForm.controls['admin_email'].touched">Email is required</div>
        </div>
        <div class="form-group">
          <label for="password">Admin Password </label>
          <input type="password" class="form-control" formControlName="admin_password" id="admin_password" autocomplete="off">
          <div class="error" *ngIf="adminloginForm.controls['admin_password'].hasError('required') && adminloginForm.controls['admin_password'].touched">Password is required</div>
        </div>
        <button class="btn btn-success" [disabled]="adminloginForm.invalid">Login to Admin Panel</button>
        <div *ngIf="invalidLogin" class="error">
          <div>Invalid credentials[Email or Password is Wrong]</div>
        </div>
      </form>
    </div>
  </div>
